{% extends 'base.html' %}
{% block title %} Location {% endblock %}
{% block body %}
{% load static %}

<!--========================== Header Start ===========================-->
<div class="container-fluid p-0">
    <div class="row" >
        <div class="col-sm-4 shadow" style="height: 300px;background-image: url(../static/images/soiltest.jpg);background-size: 100%;background-position: center 20%;">
            <h1 class="text-center text-white fw-bold" style="margin-top:25%;text-shadow: 5px 5px 5px black;">Our <br>Certifications</h1>
        </div>
        <div class="col-sm-8 my-4">
            <h3 class="fw-bold">Certifications</h3><hr>
            <ul>
                <li>DSIR Recognition</li>
                <li>Licensing Of Ayurvadic Testing Laboratory (2016)</li>
                <li>NABL Accreditation as per ISO/IEC 17025:2005 of QAQC Laboratory (2018-2020)</li>
                <li>Quality Management System (ISO 9001: 2008) of QAQC Laboratory (2009)</li>
                <li>Environmental Management System (ISO 14001: 2015) Certification of Biotech Park, Lucknow</li>
                <li>Approved Government Training Partner of ‘Uttar Pradesh Skill Development Mission’</li>
            </ul><hr>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-12">
                <div class="card crd3 me-5 shdw" style="width: 14rem;display: inline-block;">
                    <img src="{% static 'images/DSIR-SIRO.jpg' %}" class="card-img-top" alt="..."height=220px>
                </div>
                <div class="card crd3 me-5 shdw" style="width: 14rem;display: inline-block;">
                    <img src="{% static 'images/lab-tested.png' %}" class="card-img-top" alt="...">
                </div>
                <div class="card crd3 me-5 shdw" style="width: 14rem;display: inline-block;">
                    <img src="{% static 'images/crti1.jpeg' %}" class="card-img-top" alt="...">
                </div>
                <div class="card crd3 shdw" style="width: 14rem;display: inline-block;">
                    <img src="{% static 'images/carti5.jpeg' %}" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>
<!--============================= Header End =============================-->

<!--============================ About Start =====================-->

<!--============================ About End =========================-->

{% endblock %}