{% extends 'base.html' %}
{% block title %} Courses {% endblock %}
{% block body %}
{% load static %}

<!--========================== Header Start ===========================-->
<div class="container-fluid p-0">
    <div class="row my-1" style="height:200px;background-image: url(../static/images/tra3.jpg);background-size: 100%;background-position: center 30%;">
        <div class="col-sm-12" style="background-color: rgba(0, 0, 0, 0.397);">
            <h1 class="text-center fw-bold text-white" style="margin-top:6%;text-shadow: 5px 5px 5px black;">Certificate Courses</h1>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-12 p-4 m-auto shadow-lg">
                <h4 class="txtcolor">Certificate courses approved by Babasaheb Bhimrao Ambedkar University, Lucknow</h4>
                <ul>
                    <li>Biotechnology Finishing School Programme</li>
                    <li>Basics course in Bioinformatics</li>
                    <li>Advanced course in Bioinformatics</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--============================= Header End =============================-->

<!--============================ About Start =====================-->

<!--============================ About End =========================-->

{% endblock %}