{% extends 'adminlayout.html' %}
{% block admin %}
<div class="container-fluid p-0">
    <div class="row mt-4">
        <div class="col-sm-4 bgcolor text-center text-white shadow-lg" style="border-radius: 0px 25px 25px 0px " data-aos="fade-right"><h2>Edit Course</h2></div>
    </div>
    <div class="row mt-5 mx-3">
        <div class="col-sm-12 p-4 bg-light shadow-lg" data-aos="fade-down">
            <form action="" class="form-group" method="post">
                {% csrf_token %}
                <p class="txtcolor fs-5">Enter Course Session</p>
                <select name="course_session" class="form-control rounded-pill text-center" required>
                    <option value="{{edt.course_session}}">{{edt.course_session}}</option>
                </select>
                <p class="txtcolor fs-5">Enter Course Name</p>
                <input type="text" name="course_name" class="form-control rounded-pill" value="{{edt.course_name}}" required>
                <p class="txtcolor fs-5">Enter Course_fees</p>
                <input type="text" name="course_fees" class="form-control rounded-pill" value="{{edt.course_fees}}" required>
                <br>
                <input type="submit" class="btn bt form-control" value="Add Course">
            </form>
        </div>
        
    </div>
</div>

{% endblock %}