{% extends 'base.html' %}
{% block title %} Services {% endblock %}
{% block body %}
{% load static %}

<!--========================== Header Start ===========================-->
<div class="container-fluid p-0">
    <div class="row my-1" style="height:200px;background-image: url(../static/images/tra6.jpg);background-size: 100%;background-position: center 40%;">
        <div class="col-sm-12" style="background-color: rgba(0, 0, 0, 0.397);">
            <h1 class="text-center fw-bold text-white" style="margin-top:6%;text-shadow: 5px 5px 5px black;">Services Overview</h1>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-10 m-auto shadow-lg p-4">
                <p style="font-size: 18px;text-align: justify;"><span class="fw-bold txtcolor">Advisory services:</span> Consulting, mentoring, and feasibility reports for entrepreneurs, Business Plan preparation and incubation. <br><br>
                <span class="fw-bold txtcolor">Resource services:</span> Information related to biotech business, IPR, knowledge repository, pilot testing, availability of a pool of intellectual capital, network. conference facilities, training. <br><br><span class="fw-bold txtcolor">Capacity Building:</span> Conference seminars, workshops, training sessions specifically in creating knowledge platforms in biotechnology area around its stakeholders, technology translation & commercialization.</p>
            </div>
        </div>
    </div>
</div>
<!--============================= Header End =============================-->

<!--============================ About Start =====================-->

<!--============================ About End =========================-->

{% endblock %}