{% extends 'adminlayout.html' %}
    {% block admin %}
    <div class="container-fluid mt-3 p-0">
        <div class="row">
            <div class="col-sm-4 bgcolor text-center text-white shadow-lg" style="border-radius: 0px 25px 25px 0px " data-aos="fade-right"><h2>Show Enquiry</h2></div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12 m-auto px-5" data-aos="fade-down">
                <table class="table" id="example">
                    <thead class="th">
                        <tr class="text-center">
                            <th>Sr No.</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Contact no.</th>
                            <th>Email</th>
                            <th>Enquiry</th>
                            <th>Enquiry Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in show %}
                        <tr class="text-center">
                            <td>{{i.id}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.gender}}</td>
                            <td>{{i.address}}</td>
                            <td>{{i.contactno}}</td>
                            <td>{{i.emailaddress}}</td>
                            <td>{{i.enquirytext}}</td>
                            <td>{{i.enquirydate}}</td>
                            <td><a href="{% url 'delenq' id=i.id %}" class="btn rounded-4"><i class="fa-solid fa-xmark text-danger fw-bold fs-4"></i></a></td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock %}
