{% extends 'base.html' %}
{% block title %} Skill {% endblock %}
{% block body %}
{% load static %}

<!--========================== Header Start ===========================-->
<div class="container-fluid p-0">
    <div class="row my-1" style="height: 200px;background-image: url(../static/images/back3.jpg);background-size: 100%;background-position: center 20%;">
        <div class="col-sm-12" style="background-color: rgba(0, 0, 0, 0.664);">
            <h1 class="text-center text-white" style="margin-top:6%;text-shadow: 5px 5px 5px black;">UP Skill Development Mission Sponsored Programme</h1>
        </div>
    </div>
    <div class="container shadow-lg p-3">
        <div class="row my-3" > 
            <div class="col-sm-10 m-auto" style="text-align: justify;">
                <span class="fw-bold">Sponsored by: </span>UP Skill Development Mission, Lucknow <br><br>
                <span class="fw-bold">Features of the Scheme</span> <br><br>
                <h5 class="txtcolor">OBJECTIVES :</h5>
                <h6 class="fw-bold">The objectives of the scheme are:</h6>
                <ol>
                    <li>To provide vocational training to school leavers, existing workers, ITI graduates, etc. to improve their employability by optimally utilizing the infrastructure available in Govt., private institutions and the Industry. Existing skills of the persons can also be tested and certified under this scheme.</li>
                    <li>To build capacity in the area of development of competency standards, course curricula, learning material and assessment standards in the country.</li>
                </ol>
                <h5 class="txtcolor">KEY FEATURES OF THE SCHEME</h5>
                <ol>
                    <li>Demand driven short term training courses based on Modular Employable Skills (MES) decided in consultation with Industry. MES is the ‘minimum skills set’ which is sufficient for gainful employment.</li>
                    <li>Central government facilitates and promotes training while industry, private sector and State Governments provide training to the persons.</li>
                    <li>Optimum utilisation of existing infrastructure to make training cost effective.</li>
                    <li>Flexible delivery mechanism (part time, weekends, full time, onsite/ offsite) to suit needs of various target groups.</li>
                    <li>Different levels of programmes (Foundation level as well as skill upgradation) to meet demands of various target groups.</li>
                    <li>The services of existing or retired faculty or guest faculty are being utilized.</li>
                    <li>Courses are available for persons having completed 5th standard.</li>
                    <li>Testing & certification of skills acquired informally.</li>
                    <li>Testing of skills of trainees by independent assessing bodies, which would not be involved in training delivery, to ensure that it is done impartially.</li>
                    <li>The essence of the scheme is in the certification that will be nationally and internationally recognized.</li>
                </ol>
                <h5 class="txtcolor">KEY FEATURES OF THE SCHEME</h5>
                <span>Flavour, Fragrances and Perfume</span>
                <ul>
                    <li>Module No.-I: Distillation unit operator</li>
                    <li>Module No.-II: Solvent extraction unit operator</li>
                    <li>Module No.-III: Perfume taster</li>
                </ul>
                <span>Course duration: 340 hrs</span>
                <h5 class="txtcolor">Agriculture</h5>
                <ul>
                    <li>Module No.-I: landscaping & floriculture</li>
                    <li>Module No.-VI: Bio-fertilizer</li>
                    <li>Module No.- IX: Vermiculturing & vermicomposting</li>
                    <li>Module No.- 1: Entrepreneurship development in agri business (EDAB)</li>
                    <li>Quality Seed Grower</li>
                    <li>Green House Fitter</li>
                    <li>Organic Grower</li>
                    
                </ul>
                <span>Course duration: 240 to 600 hrs</span>
                <h5 class="txtcolor">TARGET GROUP</h5>
                <span>MES benefits different target groups like:</span>
                <ul>
                    <li>Workers seeking certification of their skills acquired informally</li>
                    <li>Workers and ITI graduates seeking skill up gradation</li>
                    <li>Early school drop-outs and unemployed</li>
                    <li>Previously child labour and their families</li>
                </ul>
                <span class="fw-bold">Eligibility criteria: minimum 5th pass</span><br>
                <span>Course fee: Free</span>
            </div>
        </div>
    </div>
</div>
<!--============================= Header End =============================-->

<!--============================ About Start =====================-->

<!--============================ About End =========================-->

{% endblock %}