{% extends 'base.html' %}
{% block title %} Training {% endblock %}
{% block body %}
{% load static %}

<!--========================== Header Start ===========================-->
<div class="container-fluid p-0">
    <div class="row" >
        <div class="col-sm-3" style="min-height:500px;background-image: url(../static/images/tra2.jpg);background-size: cover;background-position: center;background-repeat: no-repeat;">
           <div class="row p-0" style="background-color: rgba(0, 0, 0, 0.733); min-height:100%;max-height: fit-content;">
            <div class="col-sm-12">
                <h1 class="text-center fw-bold text-white" style="margin-top:65%;text-shadow: 5px 5px 5px black;">Vocational Training</h1>
            </div>
                
           </div>
        </div>
        <div class="col-sm-9 bg-light p-5">
            <p class="fw-bold">Register for Counselling: Email - aseem.bhatnagar@biotechpark.org.in<br><br>
            Last date for Registration : <br><br>
            Courses Start on Commence shortly</p>
            <h4 class="txtcolor mt-3">IMPORTANT LINKS</h4>
            <table class="table mt-3 shadow-lg ">
                <tr>
                    <th class="text-white text-center" style="background-color: rgb(1, 160, 1);">Sr.No</th>
                    <th class="text-white text-center" style="background-color: rgb(1, 160, 1);">Title</th>
                    <th class="text-white text-center" style="background-color: rgb(1, 160, 1);">Details</th>
                </tr>
                <tr class="text-center">
                    <td>1</td>
                    <td>IMPORTANT LINKS</td>
                    <td><a href=""><button type="button" class="btn bt" style="">Read More</button></a></td>
                </tr>
                <tr class="text-center">
                    <td>2</td>
                    <td>About the Courses</td>
                    <td><a href=""><button type="button" class="btn bt">Read More</button></a></td>
                </tr>
                <tr class="text-center">
                    <td>3</td>
                    <td>Mentors and Faculty</td>
                    <td><a href=""><button type="button" class="btn bt">Read More</button></a></td>
                </tr>
            </table>
        </div>
    </div>
    
</div>
<!--============================= Header End =============================-->

<!--============================ About Start =====================-->

<!--============================ About End =========================-->

{% endblock %}