{% extends 'adminlayout.html' %}
{% load static %}
{% block admin %}
<div class="container-fluid p-0">
    <div class="row mt-4">
        <div class="col-sm-4 bgcolor text-center text-white shadow-lg" style="border-radius: 0px 25px 25px 0px " data-aos="fade-right"><h2>Fees Verification</h2></div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-10 m-auto px-3" data-aos="fade-down">
         <table class="table" id="example">
             <thead class="th">
                 <tr class="text-center">
                     <th>Sr No.</th>
                     <th>Student Name</th>
                     <th>Email Address</th>
                     <th>Fees</th>
                     <th>Fees Reciept</th>
                     <th>Fees Status</th>
                     <th>Action</th>
                 </tr>
             </thead>
             <tbody>
                 {% for i in hr %}
                 <tr class="text-center">
                     <td>{{i.sid}}</td>
                     <td>{{i.name}}</td>
                     <td>{{i.emailaddress}}</td>
                     <td>{{i.fees}}</td>
                     
                     <td>
                        {% if i.fees_sc %}
                            <a href="{{ i.fees_sc.url }}" target="_blank">View</a>
                        {% else %}
                            No File
                        {% endif %}
                    </td>
                     <td>{{i.fees_status}}</td>
                     <td><a href="{% url 'approvelfees' id=i.sid %}"  class="btn bt btn-sm">Approve</a></td>
                 </tr>
                 {% endfor %}
             </tbody>
         </table>
        </div>
     </div>
</div>
{% endblock %}

